.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 8px 24px;
  box-shadow: 0 4px 8px 0 #f6f8f9, 0 6px 20px 0 #f6f8f9;
}
.header .header__left .title {
  font-family: "Pacifico", cursive;
  font-size: 1.875rem;
}
.header .header__right .notification {
  position: relative;
  border-right: 1px solid #dcdcdc;
  color: #db2d57;
  font-size: 20px;
}
.header .header__right .notification i {
  padding: 11px 12px;
  background: #f6e5ea;
  border-radius: 50%;
}
.header .header__right .notification .new {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #db2d57;
  position: absolute;
  top: 0;
  right: 28px;
}
.header .header__right .summary-avatar {
  flex-direction: column;
}
.header .header__right .summary-avatar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header .header__right .summary-information .full-name {
  font-size: 0.9875rem;
}
.header .header__right .summary-information .major {
  font-size: 0.875rem;
}

.wrapper {
  padding: 0 0 0 24px;
}

.wrapper .sidebar {
  padding: 24px 24px 0 0;
}
.wrapper .sidebar .menu {
  color: #3b65d4;
  font-size: 16px;
}

.content-header i.fa-car {
  font-size: 2rem;
  color: #3f69d8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px 8px 8px 20px;
  height: fit-content;
  border-radius: 5px;
}
.content-header .summary-title {
  flex-direction: column;
}
.content-header .title {
  font-size: 1.375rem;
}
.content-header .description {
  font-size: 1.125rem;
}

.height-fit-content {
  height: fit-content;
}

.content-header .dropdown li {
  list-style: none;
  display: none;
}
.content-header {
  background: #f6f8f9;
  padding: 24px;
}
.content-header .fa-star {
  padding: 12px 16px;
  color: white;
  background: #262626;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(15, 15, 15, 0.2),
    0 6px 20px 0 rgba(15, 15, 15, 0.19);
}
.content-header .dropdown p.buttons {
  color: white;
  background: #15aafd;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(8, 67, 99, 0.2),
    0 6px 20px 0 rgba(8, 67, 99, 0.19);
}

.content {
  background: #eff2f5;
  height: 80vh;
}

.sidebar ul {
  padding: 0 0 0 20px;
}
.sidebar ul.parent i.fa-rocket {
  font-size: 18px;
}
.sidebar ul p {
  padding: 10px 16px;

  border-radius: 8px;
  font-size: 16px;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul ul {
  border-left: 2px solid #e0f2fe;
}
.sidebar ul li.child {
  padding: 10px 24px;
  border-radius: 8px;
  font-size: 16px;
}

.active-ul {
  background: #e0f2fe;
}
.active-li {
  color:#416CDB;
  background: #e0f2fe;
  font-weight: bold;
}

form {
  width: 360px;
}
p.title {
  font-size: 26px;
}
.h-100vh {
  height: 100vh;
}


