.mydropdown {
  position: relative;
  display: inline-block;
}

.mydropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px 10px 0px 10px;
  z-index: 1;
  text-align: left;
}

.mydropdown:hover .mydropdown-content {
  display: block;
}

p:hover {
  color: #18d36e;
}

#myTable tr {
  display: flex;
}
#myTable tr td:first-child {
  width: 300px;
}
#myTable tr td:last-child {
  flex: auto;
}
#myTable table,
th,
td {
  border: 1px solid #59615d;
  border-collapse: collapse;
}
#myTable th,
td {
  padding: 5px;
}
#overlay-add-form {
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  top: 30px;
  z-index: 10;
  opacity: 0.5;
  height: 100%;
  transition: all 2.5s;
}

#form-activity {
  width: 70%;
  opacity: 1;
  top: -300%;
  left: 15%;
  z-index: 20;
  transition: all 1s;
  position: absolute;
}

#form-report {
  width: 70%;
  opacity: 1;
  top: -300%;
  left: 15%;
  z-index: 20;
  transition: all 1s;
  position: absolute;
}

#overlay-report {
  display: none;
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  top: 30px;
  z-index: 10;
  opacity: 0.5;
  height: 100%;
  transition: all 2.5s;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #ffffff;
  background-color: #0459f7;
  border-width: 0px;
  width: 20%;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  color: #000000;
  border-width: 0px;
  width: 20%;
}

.dropdown{
  display: inline-block;
  margin-right: 5px;
}

body{padding-top:0px;}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

small {
display: block;
line-height: 1.428571429;
color: #999;
}

.custom-icon{
  margin-right: 5px;
}

.user-componet{
  padding: 10px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: inset 0 2px 2px rgba(17, 17, 17, 0.05);
  box-shadow: 0 2px 2px rgba(17, 17, 17, 0.05);
}

.react-datepicker-wrapper{
  width: 100%;
}

.react-datepicker__input-container > input{
  padding:7px !important;
  border: 1px solid #cccccc !important; 
  border-radius: 5px !important;
}