#titleLogin h1 {
    text-align: center;
}
#myForm form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
  }
  
  #myForm label,
  input {
    display: block;
    width: 100%;
  }
  
  #myForm label {
    margin-bottom: 5px;
    height: 22px;
  }
  
  #myForm input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
    height: 50px;
  }
  
  #myForm input.error {
    border-color: red;
  }
  
  #myForm .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* #myForm button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    background-color: 250ms;
  } */
  
  /* #myForm button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(70, 153, 179);
  } */
  